.carte {
    border-radius: 15px;
    border: 1px solid midnightblue;
    margin: 10px;
    padding: 2%;
    text-align: justify;
    line-height: 25px;
    box-shadow: 0px 10px 15px 0px #b3c7e6;
    color: #000066;
    font-size: 20px;
}

.carte h1 {
    padding-bottom: 5px;
    font-size: 35px;
}

#avatar {
    width: 25%;
}

#presentation {
    margin: 10px;
    padding: 2%;
    text-align: justify;
    line-height: 25px;
    box-shadow: 0px 10px 15px 0px #b3c7e6;
    color: #000066;
    font-size: 20px;
}

#galerie-accueil {
    padding: 5%;
}